In [1]:
from binance import Client
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
binance_public_key = "..."
binance_secret_key = "..."

client = Client(api_key=binance_public_key,
                api_secret=binance_secret_key)

In [6]:
klines_eth = client.get_historical_klines("ETHUSDT", Client.KLINE_INTERVAL_15MINUTE, "11 May, 2021", "26 May, 2021")

In [7]:
ethusdt = pd.DataFrame(klines_eth, columns=["timestamp", "Open", "High", "Low", "Close", "Volume", "Close time", "Quote asset volume",
                              "Number of trades", "Taker buy base", "Taker buy quote", "To supp"])

In [8]:
ethusdt.head()

,timestamp,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base,Taker buy quote,To supp
0,1620691200000,3946.63000000,3961.85000000,3887.69000000,3927.33000000,16115.95607000,1620692099999,63308663.29924930,31194,7352.42531000,28898631.65434380,0
1,1620692100000,3927.34000000,4018.15000000,3907.09000000,4011.04000000,18225.82874000,1620692999999,72344959.72388210,32935,9623.77301000,38243666.38599740,0
2,1620693000000,4010.82000000,4030.49000000,3936.87000000,3955.89000000,19679.13249000,1620693899999,78318526.70696750,34741,7285.13359000,29002257.87270330,0
3,1620693900000,3955.62000000,3966.78000000,3850.00000000,3856.43000000,43755.92502000,1620694799999,170752411.20244260,68831,17448.65984000,68071967.94738170,0
4,1620694800000,3856.28000000,3926.93000000,3805.00000000,3852.65000000,29055.37238000,1620695699999,112285344.45447310,52012,13971.09044000,54042100.55181850,0